    	/* @font-face kit by Fonts2u (http://www.fonts2u.com) */
		@font-face {
            font-family: "AppleII";
            src: url("fonts/PrintChar21.ttf") format("truetype");
        }

    	body {
    		background-color: #99A2A2;	
            color: #555555;
            font-family: "AppleII";
        } 

        a, a:link, a:visited, a:hover, a:active {
            text-decoration: none;
            color: #555555;
        }

        a:hover {
            text-decoration: underline;
        }

        #title {
            text-align: center;
            padding-top: 200px;
    		font-size: 24pt;

    	}