    	/* @font-face kit by Fonts2u (http://www.fonts2u.com) */
		@font-face {
            font-family: "AppleII";
            src: url("fonts/PrintChar21.ttf") format("truetype");
        }

    	body {
    		background-color: #99A2A2;	
    	}
    	#title {
    		text-align: center;
    		color: #555555;
    		padding-top: 200px;
    		font-family: "AppleII";
    		font-size: 24pt;

    	}