    	/* @font-face kit by Fonts2u (http://www.fonts2u.com) */
		@font-face {
            font-family: "AppleII";
            src: url("fonts/PrintChar21.ttf") format("truetype");
        }

    	body {
    		background-color: #99A2A2;	
            color: #3F3F3F;
            font-family: "AppleII";
            text-align: center;
            
        } 

        a, a:link, a:visited, a:hover, a:active {
            text-decoration: none;
            color: #3F3F3F;
        }

        a:hover {
            text-decoration: underline;
        }

        #logo {
            margin-top: 100px;
        }

        #title {
            font-size: 24pt;
    	}